<!DOCTYPE HTML>
<HTML>
<HEAD>
    <link href="bower/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower/css/cornerstone.css" rel="stylesheet">

    <script src="bower/js/jquery.min.js"></script>
    <script src="bower/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script src="config.js"></script>   
    <script src="util.js"></script>
  
<style>
table {
    border-collapse: collapse;
    width: 30%;
}
table, th, td {
    border: 1px solid black;
}
td, th {
    padding: 5px;
}
th {
    background-color: #81BEF7
}
tr:nth-child(odd) {
    background-color: #E6E6E6;
}
</style>

    <script>
    /*    
    $(document).ready(function() {
        console.log("Running jQuery!");
        $(".repType").click(function(e) {
            e.preventDefault();
            var repVal = $(this).text();
            console.log("Click event recorded.");
            $('#typeDisplay').text("Selected Report Type is " + repVal);
            $('#typeDisplay').css("color","red");
        });

    }); */
    </script>

</HEAD>
<BODY>


<div class="container" ng-app="reportSelect" ng-controller="rsCtrl">
    <div class="row">
        <div class="jumbotron">
            <h2>FHIR/DICOMWeb Dev Project</h2>
            Radiology EMR client based on FHIR and DICOMweb REST API's.  Select a patient's reports based on type
        </div>
    </div>
    <div id="main">
        <div class="row">
            <form id="searchForm" class="form-inline" role="form">
            <button type="submit" class="btn btn-primary" ng-click="fetch()">Search</button>
            <div class="form-group">
                <label for="inputName">Name: </label>
                <input type="text" class="form-control" id="inputName" placeholder="" value="" ng-model="name">
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <select name="reportType" ng-model="reportType" value="Report type">
                    <option value="RAD">Radiology</option>
                    <option value="SP">Surgical Pathology</option>
                    <option value="LAB">Laboratory</option>
                   </select>
                    </ul>
                </div>
            </div>
            </form>
        </div>
        <div>
        <p>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Acc#</th>
                    <th>Text</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody id="reportListTable">
                <tr ng-repeat="x in reports">
                <td>{{ x.content.subject.reference.split("/")[1] }}
                <td>{{ x.content.issued }}</td>
                <td>{{ x.content.identifier.value }}</td>
                <td>{{ x.content.name.text }}</td>
                <td>{{ x.content.serviceCategory.coding[0].code }}</td>
                </tbody>
            </table>
     
        </div>
</div>

<script>

var app = angular.module('reportSelect',[]);

app.controller('rsCtrl', function($scope,$http) {
    
    
    $scope.fetch = function() {
        var url = "http://fhir.hackathon.siim.org/fhir/DiagnosticReport";
        var urlparams = {};
        if ($scope.name) {
            urlparams.subject = "Patient/" + $scope.name;
        }
        urlparams.service = $scope.reportType;

        var req = {
            params:urlparams,
            headers: {
                "Accept" : "application/json"
            }
        }
        
        $http.get(url,req).success(function(data,status,headers,config) {
            $scope.reports = data.entry;
            console.log(data);
        });
    }         
});

</script>

</BODY>
</HTML>        
                